	<div id="main" class="wrapper">
		<aside>
			<h3>There is a lot of work to do!</h3>
		</aside>
		<article>
			<p>In the beginning ...</p>
			<header>
				<h2>There was <%= title %></h2>
				<p>Kushu helps to learn.</p>
			</header>
			<h3>How?</h3>
				<p>Spaced repetition and a clever algorithm</p>	
			<h3>Why does it work?</h3>
				<p>Clever scientists with journal papers said so.</p>
			<footer>
			<h3>About the authors</h3>
				<p>Amir, Bodrul, Dan, James</p>
			</footer>
		</article>
	</div>
