<center>
<h1>Welcome To KUSHU</h1>

<div id="content">

<button class="deckOptions" onclick="location.href='/decks'">Decks</button>

<% if (session.username) { %>
	<button class="deckOptions" onclick="location.href='/makeADeck'">Create a Deck</button>
	
	<button class="deckOptions" onclick="location.href='/logout'">Logout</button>

<% } else { %>
	<button class="deckOptions" onclick="location.href='/register'">Register</button>

	<button class="deckOptions" onclick="location.href='/login'">Login</button>
	
<% }%>

</div>
</center>
