<center>
<h1>Welcome To KUSHU</h1>

<div id="content">

<div id="listDeckControls">

<button onclick="location.href='/decks'">Decks</button>
</br>
</br>

<% if (session.username) { %>
	<button onclick="location.href='/stats'">View Statistics</button>
	</br>
	</br>
	<button onclick="location.href='/logout'">Logout</button>

<% } else { %>
	<button onclick="location.href='/register'">Register</button>
	</br>
	</br>
	<button onclick="location.href='/login'">Login</button>
	
<% }%>
</div>
</div>
</center>
