<center>
<%- messages() %>

<h1>Enter login details</h1>
<p></br>Not registered? <a href="/register">Click Here</a> to register!</p>

<br />
<br />
<form action="/login" method="post">
	<label for="username">Username: </label>
	<input type="text" id="username" name="username" />
	<br />
	<br />
	<label for="Password">Password: </label>
	<input type="password" type="text" id="password" name="password" />
	<br />
	<br />
	<div id="listDeckControls">
		<button value="Login" type="submit">Login</button>
	</div>
</form>

</center>