<center>
<%- messages() %>

<h1>Enter login details</h1>
<form action="/login" method="post">
</br>
<label for="username">Username: </label> <input type="text" id="username" name="username" /><br />
<br />
<label for="Password">Password: </label><input type="password" type="text" id="password" name="password" /></br>
</br>
	<input class="deckOptions" value="Login!" type="submit"/>

</form>
</center>