<%- messages() %>
<form action="/login" method="post">
	<label for="username">Username</label>
	<input name="username" id="username" type="text" />
	<br />
	<label for="password">Password</label>
	<input name="password" id="password" type="password" />
	
	<input name="login" id="login" value="Login!" type="submit" />
</form>