<%- messages() %>
<form action="/register" method="post">
	<label for="username">Your Kushu username</label>
	<input name="username" id="username" type="text" />
	<br />
	<label for="password">Choose a password</label>
	<input name="password" id="password" type="password" />
	
	<input name="register" id="register" value="Register!" type="submit" />
</form>