<center>
<%- messages() %>
<h1>Kushu</h1>
<form action="/register" method="post">
	<label for="username">Choose a username: </label>
	<input name="username" id="username" type="text" />
	<br /><br />
	<label for="password">Choose a password: </label>
	<input name="password" id="password" type="password" />
	<br />
	<br />
	
	<input class="myButton" value="Register" type="submit"/>
</form>
</center>