
    <script src="js/libs/RGraph.common.core.js" ></script>
    <script src="js/libs/RGraph.common.effects.js" ></script>
    <script src="js/libs/RGraph.common.tooltips.js" ></script>
    <script src="js/libs/RGraph.bar.js" ></script>
	<script src="js/libs/RGraph.pie.js" ></script>
	<script src="js/chartGen.js" ></script>
		

		<script>
			getData("<%=statesArray%>");
			getDeckIDs("<%=deckIDs%>");
		</script>

				
		<div id="chartControl" align="center">
		<h1>User Statistics</h1>
		</br/>
		<button class="chartOptions" onclick="generateStreamChart2()">Deck Stats</button>
		<button class="chartOptions" onclick="generatePie()">All Decks</button>
		<button class="chartOptions" onclick="generateStreamChart()">Progress</button>
		</div>
		
		<div align="center" id="chartDiv1">
            <canvas id="chart1" width="355" height="300">[No canvas support]</canvas>
        </div>
        <div align="center" id="chartDiv2">
            <canvas id="chart2" width="365" height="280">[No canvas support]</canvas>
        </div>
        <div align="center" id="chartDiv3">
            <canvas id="chart3" width="355" height="300">[No canvas support]</canvas>
        </div>