html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

label
{
	font-family:"arial black", serif;
	font-size:135%;
}

a1
{
	font-family:"arial black", serif;
	font-size:120%;
	color:blue;
}

img#bg {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
} 

#content {
  position:relative;
  z-index:1;
} 

input{
	padding:5px;

}

label{
font-family:"arial", serif;
}



.deckOptions {
	margin-bottom:15px;	
	display:block;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #21459e) );
	background:-moz-linear-gradient( center top, #ededed 5%, #21459e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#21459e');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #6b6b6b;
	color:#141314;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 0px;
	width:200px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.deckOptions:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #21459e), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #21459e 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#21459e', endColorstr='#ededed');
	background-color:#21459e;
}.deckOptions:active {
	position:relative;
	top:1px;
}

<!--find best matching colour -->
.deckOptions:visited{
	color:white;
}

html, body{
	height:100%;
	margin:0px;
	padding:0px;
	font-family: arial,sans-serif;
}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

h1{
	font-size:20px;
	padding:0px;
	margin:0px;
	margin-top:20px;
	font-family: arial,sans-serif;
}

h2{
	font-size:16px;
	padding:0px;
	margin:0px;
	text-align: left;
	color: #000;
	font-family: arial,sans-serif;
	
}

h3{
	font-size:12px;
	padding:0px;
	margin:0px;
	margin-top:3px;
	font-weight:normal;
	font-family: arial,sans-serif;
}

p{
	font-size:12px;
	padding:0px;
	margin:0px;
	font-family: arial,sans-serif;
}

#listDeckImage{
	width:100px;
	height:100px;
	float:left;
	margin-right:10px;
	margin-bottom:5px;
}

#listDeckImage img{
	width:100px;
	height:100px;
}

#listDeckContainer{
	margin-top:20px;
	min-height:100px;
}

#listDeckInfo{
}

#listDeckControls{
	margin-top:5px;
	width:auto;
}

/* BUTTONS */#listDeckControls a, #listDeckControls button{
	    display:inline;
	    float:left;
	    background-color:#f5f5f5;
	    border:1px solid #dedede;
	    border-top:1px solid #eee;
	    border-left:1px solid #eee;    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	    font-size:100%;
	    line-height:100%;
	    text-decoration:none;
	    font-weight:bold;
	    color:#565656;
	    cursor:pointer;
	    padding:5px 5px 6px 5px; /* Links */
	   	margin-right: 2px;
	}
#listDeckControls button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
#listDeckControls button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
#listDeckControls button img, #listDeckControls a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

/* STANDARD */button:hover, #listDeckControls a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}

#listDeckControls a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}/* POSITIVE */button.positive, #listDeckControls a.positive{
    color:#529214;
}
#listDeckControls a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
#listDeckControls a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}/* NEGATIVE */#listDeckControls a.negative, button.negative{
    color:#d12f19;
}
#listDeckControls a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
#listDeckControls a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

/*
#listDeckControls a{
	font-size:12px;
	color:#FFF;
	text-decoration:none;
	padding:5px 10px 5px 10px;
	background-color:#FF4F00;
	border: 1px solid #666;
}

#listDeckControls a:hover{
	background-color:#666;
}
*/

/*
#mobListDeckControls a{
	font-size:12px;
	color:#FFF;
	text-decoration:none;
	padding:5px 10px 5px 10px;
	background-color:#FF4F00;
	border: 1px solid #666;
}

#mobListDeckControls a:hover{
	background-color:#666;
}

*/

#logo{
	width:258px;
	height:100%;
	float:left;
}

#mainContainer{
	min-height:100%;
	width:100%;
}

#headerContainer{
	width:100%;
	height:107px;	
	background-image:url('../images/header_repeater.png');
}

#headerNavigationContainer{
	width:auto;
	height:100%;
}

#topOfHeader{
	width:auto;
	height:71px;
	color:#FFF;
	line-height:300%;
	font-size:11px;
}

#headerNavigation{
	width:auto;
	height:36px;
	color:#FFF;
	font-size:12px;
	line-height:250%;
	text-align: right;
}

#headerNavigation img{
	vertical-align:middle;
}

#headerNavigation a{
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	padding-top:9px;
	color: #FFF;
	text-decoration:none;
}

#headerNavigation a:visited{
	color: #FFF;
}

#headerNavigation a:hover{
	padding-top:8px;
	background-image:url('../images/navigation_hover.png');
}

#bodyContainer{
	width:100%;
	overflow:auto;
	padding-bottom: 49px;
}

#contentContainer{
	width:auto;
	padding-left:10px;
	padding-right:10px;
}

#footerContainer{
	width:100%;
	height:49px;
	background-image:url('../images/footer_repeater.png');
	position: relative;
	margin-top: -49px;
	clear:both;
}

#footerContainer a{
	color: #FFF;
	text-decoration:none;
}

#footerContainer a:visited{
	color: #FFF;
}

#footerContainer a:hover{
	color: #CCC;
}

#leftFooter{
	line-height:400%;
	margin-left:20px;
	color:#666;
	font-size:12px;
	float:left;
}

#rightFooter{
	line-height:400%;
	margin-right:20px;
	color:#FFF;
	font-size:12px;
	float:right;
}



@media screen and (max-width: 487px) {

	#headerNavigation{
		display: none;	
	}
	
	#rightFooter{
		display: none;
	}
	
	#headerContainer{
		height:50px;
		background-size:1px 50px;
	}
	
	#headerContainer img{
		height:50px;
		-ms-interpolation-mode:bicubic;
	}
	
}

@media screen and (max-width: 378px) {
	
	#listDeckImage{
		width:50px;
		height:50px;
		margin-right:5px;
		margin-bottom:2px;
	}
	
	#listDeckImage img{
		width:50px;
		height:50px;
	}



}

<!-- temp styles -->
question
{
	font-size:200%;
}

